<a href="https://colab.research.google.com/github/CastanharoA/python-ED/blob/main/Parte_1_ED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LISTA DE EXERCÍCIOS EM PYTHON:

0 crie uma função 
usar metodo split/upper/sprit/lower/captalize /type/append/del/clear
if
elif
else

while len 
for i range 




1.ª) Faça um programa que leia dois valores e informe a média entre eles.

2.ª) Faça um programa que receba peso e altura e calcule o IMC pela fórmula:

IMC = Peso ÷ (Altura × Altura).

De acordo com o IMC EXIBA UMA MENSAGEM COM A C CLASSIFICAÇÃO DO PESO:

3.ª) Calcular e apresentar o valor do volume de uma lata de óleo, utilizando a fórmula: VOLUME = 3.14159 * R2 * ALTURA.

4.ª) Faça um programa que leia 5 valores e informe o valor do maior.

5.ª) Solicitar o consumo médio de um veículo, bem como o tempo de viagem e a velocidade média. Com base nestas informações:

Efetuar o cálculo da quantidade de litros de combustível gastos em uma viagem, utilizando-se um automóvel que faz “x” km/l.

Para obter o cálculo, o usuário deverá fornecer o tempo gasto na viagem e a velocidade média durante a mesma.

Desta forma será possível obter a distância percorrida com a fórmula: DISTÂNCIA= TEMPO * VELOCIDADE. Tendo o valor da distância, basta calcular a quantidade de litros de combustível utilizada na viagem com a fórmula: LITROS_USADOS=DISTÂNCIA / “x”. O programa deverá apresentar os valores da velocidade média, tempo gasto na viagem, a distância percorrida e a quantidade de litros utilizada na viagem

6. Calculo IMC 
7, Concentue pilha
8. concentua fila 



aula 2 
nome salario 
nota media 

aula 3 
laços de repetição 
[1:2 ]

lista 
add 
del 
peint
type
insert  1, " orange"
append
pop(), pop (-2)

In [ ]:
#Faça um programa que leia dois valores e informe a média entre eles.



N1 = int(input("Digite um numero: "  ))
N2 = int(input("Digite  outro numero: "  ))

Media = (N1 + N2)/2
print(Media)

Digite um numero: 10
Digite  outro numero: 10
10.0

In [7]:
#Faça um programa que receba peso e altura e calcule o IMC pela fórmula: IMC = Peso ÷ (Altura × Altura).

peso= float(input("Digite seu peso numero: "  ))
altura= float(input("Digite sua altura"  ))

IMC = peso / (altura * altura)

if IMC < 18:
   print("ok")

elif IMC >= 18 and IMC < 29.9:
   print("2")

else:
   print("ah")

Digite seu peso numero: 50
Digite sua altura1.50
2

In [9]:
# Calcular e apresentar o valor do volume de uma lata de óleo, utilizando a fórmula: VOLUME = 3.14159 * R2 * ALTURA.


altura = float(input(" qual a altura da lata? "))
raio = float(input("qual o raio da lata" ))

Raio = raio ** raio
VOLUME = 3.14159 * Raio * altura

print(VOLUME)

 qual a altura da lata? 10
qual o raio da lata20
3.2941958758399995e+27

In [ ]:
# Faça um programa que leia 5 valores e informe o valor do maior.

lista1= [ ]   #criar uma lista vazia 

for valor in range (5):   #coloco o limite de 5
  valor = float(input("digite um valor")) #recebo valor 
  lista1.append(valor)  #acrescentar valor na lista 
  valormaior = max(lista1)
print(lista1)
#print(max(lista1)
print( "o maior valor da lista é:," ,valormaior)

In [ ]:
lista1 = []

for valor in range (5):
  valor = float(input("digite um valor"))
  lista1.append(valor)

  valormaior = max(lista1)
  print(lista1)
  print( f'o maior valor da lista é:,' ,valormaior)

In [27]:
lista1 = []  # refazder  

for valor in range (5):
 valor = float(input("digite um valor"))
 lista1.append(valor)

 maior_valor = max(lista1) 
 print(f' o maior valor é { maior_valor } ')

digite um valor10
 o maior valor é 10.0
digite um valor9
 o maior valor é 10.0
digite um valor9
 o maior valor é 10.0
digite um valor9
 o maior valor é 10.0
digite um valor9
 o maior valor é 10.0

In [ ]:
#Concentue pilha

 conceito
 pilha:  é um tipo de lista  com o conceito de ordenação  LIFO  ( last in first out) de retida e entrada de objeto, o ultimo a entrar é o primeiro a sair  


 
 
 pilhas  operações 
1. add elemento  = push ( eu empurro para receber um novo  elemento )
2. remove = pop ( remove o elemento no topo da pilha) 
3. top =  informação ( nos da a informação do elemento que esta no top )
4. is_empty  ( verificar se apilha esta vazia - a resposta sera V ou F )
5. is_full   (avisa se ta cheira



o ultimo a entrar é o primeiro a sair 

       em uma pilha o ultimo elemento a ser inserido (  empilhado  ) é o 
       primeio a ser removido ( desempilhado ) . eles tem uma estrutura     LIFO ( last to in is the First go out ) 

utilização : CTRL Z

In [ ]:
#Concentue fila

In [ ]:
pila e listas

adicionar elementos na lista primeiro criaar uma lista

para fazsr um push = appende appemd(push) remover = pop consulta top print[:-1] ultimo elemento lisra [:-1]

append + 1 append[1] = ( 0 , 1 )

Fila

FIFO ( FIRST IN FIRST OUT ) 
 fila  representa ordem de chegada primeiro que entrou é o primeiro a sair

enfileirar = enqueue ( inserir novo elmente no final da fila )
desinfeileirar = dequeue ( retorna o elemento na primeiro posição )

elemento 0 é o primeiro ( mais antigo ) , sempre vou tirar o elemento 0

In [8]:
#Lista = [ ]
lista = [ "joao" , "maria" , "joana"]
print(lista)
#append.lista("apple","banana")
print(type(lista))
#insert inclui na posição que vc incluir
lista.insert(0,"5")
print(lista)
# append inclui no fim 
lista.append("6")
print(lista)

lista3 = { "joao" , "maria" , "joana"}
lista1 = [ "joao" , "maria" , "joana"]
lista2= ( "joao" , "maria" , "joana")   
print(type(lista3))
print(type(lista1))
print(type(lista2))
print(len(lista))
#extend juntar tupla na lista

lista1 = [ "joao" , "maria" , "joana"]
lista2 = ( "joao" , "maria" , "joana")

lista1.extend(lista2)
print(lista1)
#remove

lista1 = [ "joao" , "maria" , "joana"]

lista1.remove("joao")
print(lista1)
#remove

lista1 = [ "joao" , "maria" , "joana"]
print([1])
#pop ( indice ) remove por indice 

lista1 = [ "joao" , "maria" , "joana"]

lista1.pop(0)
print(lista)
#pop ( indice ) remove por indice 

lista1 = [ "joao" , "maria" , "joana"]

lista1.pop(0)
print(lista)
lista1 = [ "joao" , "maria" , "joana"]
del lista1[-1]
print(lista1)

['joao', 'maria', 'joana']
<class 'list'>
['5', 'joao', 'maria', 'joana']
['5', 'joao', 'maria', 'joana', '6']
<class 'set'>
<class 'list'>
<class 'tuple'>
5
['joao', 'maria', 'joana', 'joao', 'maria', 'joana']
['maria', 'joana']
[1]

In [9]:
lista1 = [ "joao" , "maria" , "joana"]
for x in lista1:
  print(x)
  # range  PROVA 
lista1 = [ "1" , "2" , "3", "4", "5", "6"]
for i in range(len(lista1)):
  print(lista1[3:6])

joao
maria
joana
['4', '5', '6']
['4', '5', '6']
['4', '5', '6']
['4', '5', '6']
['4', '5', '6']
['4', '5', '6']

In [55]:
lista1 = [ "joao" , "maria" , "joana"]
lista2 = [ "1" , "2" , "3", "4", "5", "6"]
lista1.extend(lista2)
print(lista1)
lista1.remove("1")
print(lista1)
lista1.pop(-1)
print(lista1)
lista1.append("oi")
print(lista1)
del lista1[-1]
print(lista1)
lista1.insert(0,"5")
print(lista1)

['joao', 'maria', 'joana', '1', '2', '3', '4', '5', '6']
['joao', 'maria', 'joana', '2', '3', '4', '5', '6']
['joao', 'maria', 'joana', '2', '3', '4', '5']
['joao', 'maria', 'joana', '2', '3', '4', '5', 'oi']
['joao', 'maria', 'joana', '2', '3', '4', '5']
['5', 'joao', 'maria', 'joana', '2', '3', '4', '5']

In [27]:


# range 
lista1 = [ "joao" , "maria" , "joana"]
for i in range(len(lista1)):
  print(lista1[1:3])

# range 
lista1 = [ "joao" , "maria" , "joana"]
for i in range(len(lista1)):
  print(lista1[i])

['maria', 'joana']
['maria', 'joana']
['maria', 'joana']
joao
maria
joana

In [39]:

nome =  " meu nome é maria"
print(nome[::-1])
Lista = [ "M", "A", "R", "I","A"]
Lista.reverse()
print(Lista)

airam é emon uem
['A', 'I', 'R', 'A', 'M']

In [ ]:
#receber 10 numero  (float(input("infome um numero")))  () prova 
#armazenar a = (float(input("infome um numero")))
#percorrer e somar 
#imprimir a sma 


lista1= [ ]   #criar uma lista vazia 

for x in range (10):   #coloco o limite de 10
  a = (float(input("infome um numero")))  #recebo valor 
  lista1.append(a)  #acrescentar valor na lista 

  print(lista1) # imprimo a lista

In [47]:
lista = []
for x in range (5):
 y = (int(input("informe um numero")))
 lista.append(y)
print(lista)

informe um numero5
informe um numero4
informe um numero3
informe um numero2
informe um numero1
[5, 4, 3, 2, 1]

In [54]:
nota = []
for x in range (3):
  a = (float(input("digite sua nota")))
  nota.append(a)
  b = max(nota)

print(f' {nota} sua nota mais alta é : {b} ')

digite sua nota10
digite sua nota9.8
digite sua nota9.9
 [10.0, 9.8, 9.9] sua nota mais alta é : 10.0

In [ ]:
# funções " mini- programas que recebem informações ( PARAMETRO) e executa uma tarefa especifica, podemdodevolver um resultadfo"
DEf nome_função ( parametro):
return valor / variavel

In [ ]:
def hipotenusa ( ):
 A =  ( ca ** 2 + co ** 2 ) 
 B = A ** 0.5
 return B

ca = float(input("digite  o valor do cateto oposto"))
co = float(input("digite  o valor do cateto adjacente" ))

hipotenusa ( )
print(f" o valor da hipotenusa é : { hipotenusa ( )} "  )  # chamar a função no print " {} "

In [ ]:
# crie uma função que receba 4 lados de um quadrilatero e retorne o  quadrado , e se todos forem iguais  , se 2 = retangulo , se  4 = quadrado 
# triangulo area 

def area( ):
  
   area =  ((base * altura )/2)
   return area 

altura = float(input("digite  o valor da altura de um tringulo"))
base = float(input("digite  o valor da base  de um tringulo"))

print(f" a area do triangulo é { area ( ) } ")

In [59]:
def area():
  area = (base * altura)/2
  return area
altura = float(input("digite  o valor da altura de um tringulo"))
base = float(input("digite  o valor da base  de um tringulo"))
print(f" a area do triangulo é { area ( ) } ")

digite  o valor da altura de um tringulo10
digite  o valor da base  de um tringulo5
 a area do triangulo é 25.0

In [61]:
 def nome():
  area = (base * altura)/2
  return nome()
 altura = float(input("digite  o valor da altura de um tringulo"))
 base = float(input("digite  o valor da base  de um tringulo"))
 
 print(f" a area do triangulo é { area ( ) } ")

digite  o valor da altura de um tringulo10
digite  o valor da base  de um tringulo10
 a area do triangulo é 50.0

In [ ]:
def medida: